.custom-admin-body {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #444;
    justify-content: center;
    align-items: center;
}

.custom-admin-container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.custom-admin-container .custom-admin-card {
    position: relative;
}

.custom-admin-container .custom-admin-card .face {
    width: 300px;
    height: 200px;
    transition: .4s;
}

.custom-admin-container .custom-admin-card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.custom-admin-container .custom-admin-card:hover .face.face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 20px whitesmoke,
    inset 20px 0 30px #f58f14,
    inset -20px 0 30px #e51a1a,
    inset 20px 0 100px #f58f14,
    inset -20px 0 100px #e51a1a,
    0 0 16px #fff,
    -3px 0 30px #f58f14,
    3px 0 30px #e51a1a;
}

.custom-admin-container .custom-admin-card .face.face1 .content-admin {
    opacity: .2;
    transition: 0.5s;
    text-align: center;
}

.custom-admin-container .custom-admin-card:hover .face.face1 .content-admin {
    opacity: 1;
}

.custom-admin-container .custom-admin-card .face.face1 .content-admin i {
    font-size: 3em;
    color: white;
    display: inline-block;
}

.custom-admin-container .custom-admin-card .face.face1 .content-admin h3 {
    font-size: 1em;
    color: white;
    text-align: center;
}

.custom-admin-container .custom-admin-card .face.face1 .content-admin {
    transition: .5s;
}

.custom-admin-container .custom-admin-card .face.face2 {
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.custom-admin-container .custom-admin-card:hover .face.face2 {
    transform: translateY(0);
}

.custom-admin-container .custom-admin-card .face.face2 .content-admin p, .custom-admin-a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
}

.custom-admin-container .custom-admin-card .face.face2 .content-admin {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.custom-admin-container .custom-admin-card .face.face2 .content-admin .custom-admin-a:hover {
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.custom-admin-a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
    transition: .5s;
    text-decoration: none !important;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}