.button-glow-lime {
    width: 570px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    border-radius: 40%;
}

.button-glow-lime:hover {
    background: #4dda26;
    color: white;
    box-shadow: 0 0 10px #4dda26, 0 0 40px #4dda26, 0 0 80px #4dda26;
}

.button-glow-blue {
    width: 350px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    border-radius: 35%;
}

.button-glow-blue:hover {
    background: #1744f9;
    color: white;
    box-shadow: 0 0 10px #1744f9, 0 0 40px #1744f9, 0 0 80px #1744f9;
}

.button-border-red {
    background-color: transparent !important;
    outline: none;
    border-color: #f02828;
    min-width: 100%;
}

.button-border-green {
    background-color: transparent !important;
    outline: none;
    border-color: #1aa114;
    min-width: 100%;
}

.button-locale-change {
    background-color: transparent !important;
    border: none;
    border-radius: 35%;

}

.button-locale-change:hover {
    cursor: pointer;
    background: #f9ee17;
    color: white;
    box-shadow: 0 0 10px #f9ee17, 0 0 40px #f9ee17, 0 0 80px #f9ee17;
}

.button-locale-change:focus {
    background-color: #28f08b;
}

.button-glow-green {
    width: 570px;
    color: #000000;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 40%;
}

.button-glow-green:hover {
    background: #143b07;
    color: white;
    box-shadow: 0 0 10px #143b07, 0 0 40px #143b07, 0 0 80px #143b07;
}

.button-glow-purple {
    width: 570px;
    color: #b9b9b9;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    background: rgba(117, 26, 168, 0.6);
    border-radius: 40%;
}

.button-glow-purple:hover {
    background: rgba(130, 26, 152, 0.9);
    color: #ffffff;
    box-shadow: 0 0 10px #821a98, 0 0 40px #821a98, 0 0 80px #821a98;
}

.button-glow-red {
    width: 570px;
    color: #3b0707;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 40%;
}

.button-glow-red:hover {
    background: #3b0707;
    color: white;
    box-shadow: 0 0 10px #3b0707, 0 0 40px #3b0707, 0 0 80px #3b0707;
}

.button-glow-buy {
    text-align: center;
    width: 330px;
    color: #ffffff;
    text-shadow: 0 0 5px #f0dfdf,
    0 0 10px #dfcdcd,
    0 0 20px #e9d0d0,
    0 0 40px #e1c6c6;
    border-color: green;
    background: linear-gradient(45deg, rgba(38, 112, 32, 0.67) 100%, transparent 10%);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    border-radius: 20%;
}

.button-glow-buy:hover {
    background: linear-gradient(45deg, rgba(103, 222, 94, .47) 100%, transparent 10%);
    box-shadow: 0 0 4px #0b820b, 0 0 10px #0b820b, 0 0 40px #0b820b;
    color: #f5f3f3;
    text-shadow: 0 0 5px #f0dfdf,
    0 0 10px #dfcdcd,
    0 0 20px #e9d0d0,
    0 0 40px #e1c6c6;
}

.button-glow-gray {
    width: 570px;
    color: #939393;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    border-radius: 40%;
}

.button-glow-gray:hover {
    background: rgba(147, 147, 147, 0.6);
    color: #ffffff;
    box-shadow: 0 0 10px #939393, 0 0 40px #939393, 0 0 80px #939393;
}

.search-button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(145, 92, 182);
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.search-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.button-search-blue {
    width: 350px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    border-radius: 35%;
}

.button-search-blue:hover {
    background: #ffffff;
    color: white;
    box-shadow: 0 0 15px #ffffff;
}

.button-search-gray {
    width: 350px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    border-radius: 35%;
}

.button-search-gray:hover {
    background: #939393;
    color: white;
    box-shadow: 0 0 15px #888888;
}

.search-span {
    color: #e9e9e9;
}

.search-span:hover {
    color: white;
}

.button-red-trash {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: red;
}

.button-red-trash:hover {
    box-shadow: 0 0 10px #f83838, 0 0 40px #f83838, 0 0 80px #f83838;
}

.trash-span {
    color: red;
}

.close-red-button {
    color: #ff0000;
}

.close-red-button:hover {
    color: white;
}

