.button-glow-lime {
    width: 570px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    border-radius: 40%;
}

.button-glow-lime:hover {
    background: #4dda26;
    color: #000;
    box-shadow: 0 0 10px #4dda26, 0 0 40px #4dda26, 0 0 80px #4dda26;
}

.button-glow-blue {
    width: 350px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    border-radius: 35%;
}

.button-glow-blue:hover {
    background: #1744f9;
    color: #000;
    box-shadow: 0 0 10px #1744f9, 0 0 40px #1744f9, 0 0 80px #1744f9;
}

