.custom-card {
    border-radius: 5%;
    background: rgba(1, 17, 25, 0.5);
    box-shadow: 0 0 40px #a0bab6;
    height: 450px;
}

.image-card {
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    height: 350px;
}

.game-card {
    box-shadow: 0 0 40px #a0bab6;
    border-radius: 2%;
    height: 350px;
}