.custom-form-control.is-valid:focus, .was-validated :valid.form-control {
    border-color: inherit !important;
    background-image: inherit !important;
    box-shadow: black !important;
}

.custom-input {
    background: rgba(176, 176, 176, 0.3);
    color: white !important;
}


.custom-input::placeholder {
    color: white;
}

.custom-input::-webkit-input-placeholder {
    color: white;
}

.custom-input:focus::placeholder {
    color: transparent;
}

.custom-admin-input {
    background: rgba(0, 0, 0, 0.3);
    color: white !important;
}


.custom-admin-input::placeholder {
    color: #cccccc;
}

.custom-admin-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.custom-admin-input:focus::placeholder {
    color: transparent;
}

