.notcopy {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.green-text-shadow {
    text-shadow: 0 0 5px #aaabaa,
    0 0 10px #9fa09f,
    0 0 20px #7c7d7c,
    0 0 40px #797979;
}

.purple-text-shadow {
    text-shadow: 0 0 5px #b42ae9,
    0 0 10px #b42ae9,
    0 0 20px #b42ae9,
    0 0 40px #b42ae9;
}

.autocomplete-active {
    background: rgba(255, 255, 255, 0.4);
}

.neon-title-cyan {
    color: #fff;
    text-shadow: 0 0 50px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff;
}

.neon-title-white {
    color: #ffffff;
    text-shadow: 0 0 5px #f0dfdf,
    0 0 10px #dfcdcd,
    0 0 20px #e9d0d0,
    0 0 40px #e1c6c6;
}

.neon-title-white-light {
    color: #ffffff;
    text-shadow: 0 0 5px #f0e7e7,
    0 0 10px #dfd2d2,
    0 0 20px #e8d6d6;
}

.neon-title-white-shadow-light {
    color: #ffffff;
    text-shadow: 0 0 5px #f0e7e7,
    0 0 10px #f0e7e7;
}

.neon-title-cyan-light {
    color: #fff;
    text-shadow: 0 0 50px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #9efefe;
}

.neon-title-lime {
    color: #7CFC00;
    text-shadow: 0 0 5px #4cf028,
    0 0 10px #40c423,
    0 0 20px #38c01a,
    0 0 40px #20750e;
}

.neon-title-red {
    color: #d70000;
    text-shadow: 0 0 5px #9c0000,
    0 0 10px #700000,
    0 0 20px #530000,
    0 0 40px #370000;
}

.neon-title-green {
    color: #50ab00;
    text-shadow: 0 0 5px #387900,
    0 0 10px #275f01,
    0 0 20px #214c00,
    0 0 40px #0b3700;
}

.neon-title-orange {
    color: #ff9900;
    text-shadow: 0 0 5px #e68d00,
    0 0 10px #d78201,
    0 0 20px #b56d01,
    0 0 40px #9a5c00;
}

.neon-title-purple {
    color: #eed3ff;
    text-shadow: 0 0 50px #b07fc1,
    0 0 10px #a276b5,
    0 0 20px #856792,
    0 0 40px #71557d;
}

.neon-title-pink {
    color: #fb41d5;
    text-shadow: 0 0 50px #ed3ec9,
    0 0 10px #e63dc3,
    0 0 20px #de3cbc,
    0 0 40px #d238b1;
}


@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.texas-purple-animated {
    font-family: neon;
    color: #a542fb;
    font-size: 1.7vw;
    line-height: 1.7vw;
    text-shadow: 0 0 1vw #6e2da7;
}

.texas-blue-animated {
    font-family: neon;
    color: #426DFB;
    font-size: 2.3vw;
    line-height: 2.3vw;
    text-shadow: 0 0 1vw #2356FF;
}

.texas-purple-animated {
    animation: texas-purple-animated 2s ease infinite;
    -moz-animation: texas-purple-animated 2s ease infinite;
    -webkit-animation: texas-purple-animated 2s ease infinite;
    -o-animation: texas-purple-animated 2s linear infinite;
}

@keyframes texas-purple-animated {
    0%,
    100% {
        text-shadow: 0 0 1vw #b710ff, 0 0 3vw #B710FF, 0 0 5vw #B710FF, 0 0 5vw #B710FF, 0 0 .4vw #B710FF, .5vw .5vw .1vw #B710FF;
        color: #fe28fa;
    }
    50% {
        text-shadow: 0 0 .5vw #7e0992, 0 0 1.5vw #7e0992, 0 0 2.5vw #7e0992, 0 0 2.5vw #7e0992, 0 0 .2vw #7e0992, .5vw .5vw .1vw #7e0992;
        color: #991a9a;
    }
}

.texas-blue-animated {
    animation: texas-blue-animated 2s ease infinite;
    -moz-animation: texas-blue-animated 2s ease infinite;
    -webkit-animation: texas-blue-animated 2s ease infinite;
    -o-animation: texas-blue-animated 2s linear infinite;
}

@keyframes texas-blue-animated {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 5vw #1041FF, 0 0 5vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #289afe;
    }
    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 2.5vw #082180, 0 0 2.5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #175993;
    }
}

.neon-box-white {
    border-color: #fffefe;
    box-shadow: 0 0 5px #f0dfdf,
    0 0 10px #dfcdcd,
    0 0 20px #e9d0d0;
}

