.neon-title-cyan {
    color: #fff;
    text-shadow: 0 0 50px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff;
}

.neon-title-white {
    color: #ffffff;
    text-shadow: 0 0 5px #f0dfdf,
    0 0 10px #dfcdcd,
    0 0 20px #e9d0d0,
    0 0 40px #e1c6c6;
}

.neon-title-lime {
    color: #7CFC00;
    text-shadow: 0 0 5px #4cf028,
    0 0 10px #40c423,
    0 0 20px #38c01a,
    0 0 40px #20750e;
}

.neon-title-orange {
    color: #ff9900;
    text-shadow: 0 0 5px #e68d00,
    0 0 10px #d78201,
    0 0 20px #b56d01,
    0 0 40px #9a5c00;
}



@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.texas-orange-animated {
    font-family: neon;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
}

.texas-blue-animated {
    font-family: neon;
    color: #426DFB;
    font-size: 2vw;
    line-height: 2vw;
    text-shadow: 0 0 1vw #2356FF;
}

.texas-orange-animated {
    animation: texas-orange-animated 1s ease infinite;
    -moz-animation: texas-orange-animated 1s ease infinite;
    -webkit-animation: texas-orange-animated 1s ease infinite;
}

@keyframes texas-orange-animated {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.texas-blue-animated {
    animation: texas-blue-animated 2s linear infinite;
    -moz-animation: texas-blue-animated 2s linear infinite;
    -webkit-animation: texas-blue-animated 2s linear infinite;
    -o-animation: texas-blue-animated 2s linear infinite;
}

@keyframes texas-blue-animated {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 5vw #1041FF, 0 0 5vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }
    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 2.5vw #082180, 0 0 2.5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}
